{% load static %}
<div class="containera">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="logo-octocat"></ion-icon></span>
                        <span class="title">SMARTPREP</span>

                    </a>
                </li>





                <li>
                    <a href="/admins">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>

                    </a>
                </li>
                <li>
                    <a href="/admins/get_category/ " class="nav-link {{activate_category_admin}}">
                        <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                        <span class="title">Categories</span>

                    </a>
                </li>

<!--                <li>-->
<!--                    <a href="/admins/show_course">-->
<!--                        <span class="icon"><ion-icon name="book-outline"></ion-icon></span>-->
<!--                        <span class="title">Course</span>-->

<!--                    </a>-->
<!--                </li>-->

                <li>
                    <a href="/admins/show_contact">
                        <span class="icon"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
                        <span class="title">Contact</span>

                    </a>
                </li>


                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">Users</span>

                    </a>
                </li>




                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>

                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Signout</span>

                    </a>
                </li>
            </ul>

        </div>
</div>